<h1>Happy Shop</h1>
<hr>
<br>
<div  id="products" >
<div>

  <form class="form-inline">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control">
            <option value="">Select Category</option>
            <option value="Lock-it Foundation">Lock-it Foundation</option>
            <option value="Facemask">Facemask</option>
            <option value="Eye-liner">Eye-liner</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" style="width: 130px;" class="form-control" placeholder="Minimun">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" style="width: 130px;" class="form-control" placeholder="Maximum">
        </div>
      </div>



      <div class="col-md-2">
        <div class="form-group ">
          <select class="form-control">
            <option value="">Sort by</option>
            <option value="Lock-it Foundation">Price</option>
            <option value="Lock-it Foundation">Offer</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group ">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Available products only
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<br><hr>
<div class="row">
  <div class="col-md-4" v-for="product in products">
    <div class="card">
      <div v-if="product.sold_out" class=" not_available alert alert-danger" role="alert">
        Product is not available!
      </div>
      <img class="card-img-top" style="height: 150px;    width: auto;    margin: 0px auto;" :src="product.image_url" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{product.name}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{product.category}}</h6>
        <p v-if="!product.under_sale" class="card-text"><b>${{product.price}}</b></p>
        <p v-if="product.under_sale" class="card-text"><b>${{product.sale_price}} </b> <span class="strike-through">${{product.price}}</span> <span class="upcase">{{product.sale_text}}</span></p>

      </div>
    </div>
    <br>
  </div>

</div>
</div>
